// Gruvbox color palette

$gb-bg-dark: #282828;
$gb-bg-medium: #3c3836;
$gb-bg-light: #504945;
$gb-bg-cream: #fbf1c7;

$gb-border-dark: #32302f;
$gb-border-light: #bdae93;

$gb-text-light: #fbf1c7;
$gb-text-dark: #282828;
$gb-text-muted: #a89984;

$gb-accent-orange: #d65d0e;
$gb-accent-orange-bright: #fe8019;
$gb-accent-yellow: #fabd2f;
$gb-accent-green: #b8bb26;
$gb-accent-blue: #83a598;
$gb-accent-purple: #b16286;
$gb-accent-aqua: #8ec07c;
$gb-accent-red: #fb4934;

$beige-50: #f8f5ed;
$beige-100: #f0ecdb;

$cornsilk-50: #fcf9e9;
$cornsilk-100: #f9f2d2;

$teal-50: #f0f4f3;
$teal-100: #e1eae7;
$teal-200: #c4d4cf;
$teal-300: #a6bfb7;
$teal-400: #89a99f;
$teal-500: #6b9487;
$teal-600: #56766c;
$teal-700: #405951;
$teal-800: #2b3b36;
$teal-900: #151e1b;
$teal-950: #0f1513;



// Border-radius

$border-radius-x-small: 0.25rem;
$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.25rem;
$border-radius-circle: 50%;

// Space

$space-x-small: 0.25rem;
$space-small: 0.5rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-x-large: 2rem;

// font size

$font-size-x-small: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-x-large: 1.5rem;
