// Gruvbox color palette

$gb-bg-dark: #282828;
$gb-bg-medium: #3c3836;
$gb-bg-light: #504945;
$gb-bg-cream: #fbf1c7;

$gb-border-dark: #32302f;
$gb-border-light: #bdae93;

$gb-text-light: #fbf1c7;
$gb-text-dark: #282828;
$gb-text-muted: #a89984;

$gb-accent-orange: #d65d0e;
$gb-accent-orange-bright: #fe8019;
$gb-accent-yellow: #fabd2f;
$gb-accent-green: #b8bb26;
$gb-accent-blue: #83a598;
$gb-accent-purple: #b16286;
$gb-accent-aqua: #8ec07c;
$gb-accent-red: #fb4934;

// Border-radius

$border-radius-x-small: 0.25rem;
$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.25rem;
$border-radius-circle: 50%;

// Space

$pace-x-small: 0.25rem;
$space-small: 0.5rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-x-large: 2rem;

// font size

$font-size-x-small: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-x-large: 1.5rem;
