// Gruvbox color palette

$gb-bg-dark: #282828;
$gb-bg-medium: #3c3836;
$gb-bg-light: #504945;
$gb-bg-cream: #fbf1c7;

$gb-border-dark: #32302f;
$gb-border-light: #bdae93;

$gb-text-light: #fbf1c7;
$gb-text-dark: #282828;
$gb-text-muted: #a89984;

$gb-accent-orange: #d65d0e;
$gb-accent-orange-bright: #fe8019;
$gb-accent-yellow: #fabd2f;
$gb-accent-green: #b8bb26;
$gb-accent-blue: #83a598;
$gb-accent-purple: #b16286;
$gb-accent-aqua: #8ec07c;
$gb-accent-red: #fb4934;

// Border-radius

$border-radius-x-small: 5px;
$border-radius-small: 10px;
$border-radius-medium: 15px;
$border-radius-large: 20px;
$border-radius-circle: 50%;

// Space

$space-px-x-small: 4px;
$space-px-small: 8px;
$space-px-medium: 16px;
$space-px-large: 32px;

$pace-rem-x-small: 0.25rem;
$space-rem-small: 0.5rem;
$space-rem-medium: 1rem;
$space-rem-large: 1.5rem;
$space-rem-x-large: 2rem;