.desktop-icon {
    position: fixed;
    background: transparent;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    z-index: -1;

    .desktop-icon-image {
        width: 48px;
        height: 48px;
    }

    .desktop-icon-title {
        font-size: 12px;
        color: white;
        text-align: center;
        margin-top: 4px;
    }
}