@use '../../assets/style/variables.scss' as var;

.desktop-icon {
    position: fixed;
    background: transparent;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    z-index: -1;

    &-image {
        width: 48px;
        height: 48px;
    }

    &-title {
        font-size: 12px;
        color: var.$gb-text-dark;
        text-align: center;
        margin-top: 4px;
    }
}