@use "../../assets/style/variables.scss" as var;
.project-card {
  background-color: var.$gb-bg-medium;
  border: 2px solid var.$gb-border-dark;
  border-radius: var.$border-radius-small;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: var.$space-medium;
  margin: var.$space-medium;
  width: calc(33.333% - 32px);
  display: flex;
  flex-direction: column;

  &-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var.$border-radius-x-small;
    margin-bottom: var.$space-small;
  }

  &-title {
    font-size: var.$font-size-large;
    font-weight: bold;
    margin-bottom: var.$space-small;
    color: var.$gb-accent-orange;
  }

  &-description {
    font-size: var.$font-size-small;
    color: var.$gb-text-light;
    margin-bottom: var.$space-small;
    line-height: 1.4;
  }

  &-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: var.$space-small;
  }

  &-technology {
    background-color: var.$gb-accent-blue;
    border-radius: var.$border-radius-x-small;
    padding: var.$pace-x-small var.$space-small;
    font-size: var.$font-size-x-small;
    color: var.$gb-text-dark;
    font-weight: 500;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var.$gb-accent-orange;
    }
  }
}