@use '../../assets/style/variables.scss' as var;

.window {
  display: flex;
  flex-direction: column;
  position: fixed;
  border: 2px solid var.$gb-bg-medium;
  border-radius: var.$border-radius-medium;
  box-shadow: 0 4px 12px rgba(var.$gb-bg-dark, 0.5);
  width: 300px;
  overflow: hidden;

  &-header {
    background: var.$gb-bg-cream;  
    border-bottom: 2px solid var.$gb-bg-dark;
    border-radius: var.$border-radius-medium var.$border-radius-medium 0 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    height: var.$space-rem-large;
  }
  
  &-title {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-right: var.$space-rem-medium;
    color: var.$gb-text-dark;
  }
  
  &-close {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-left: var.$space-rem-medium;
    cursor: pointer;
    font-weight: bold;

    &-icon {
      color: var.$gb-accent-red;
      font-size: 12px;
      transition: background 0.2s;
    }
  }

  &-content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  &-resize {
    position: absolute;
    width: 10px;
    height: 10px;
    border: none;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background: transparent;
  }
}

.content-background {
  background-color: var.$gb-bg-dark;
}