@use '../../assets/style/variables.scss' as var;

.window {
  position: fixed;
  border: 2px solid var.$gb-bg-medium;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(var.$gb-bg-dark, 0.5);
  width: 300px;

  &-header {
    background: var.$gb-bg-cream;  
    border-bottom: 2px solid var.$gb-bg-dark;
    border-radius: 8px 8px 0 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }
  
  &-title {
    font-weight: 600;
    font-size: 14px;
    color: var.$gb-text-dark;
  }
  
  &-close {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
  }

  &-close-icon {
  color: var.$gb-accent-red;
  font-size: 12px;
  transition: background 0.2s;
  }
}