@use "./assets/style/variables.scss" as var;
html, body {
  margin: 0;
  padding: 0;
}

#app-container {
  position: fixed;
  inset: 0;
  background-image: url('/harmony.png');
  background-size: cover;

  font-family: jetbrains mono, monospace;
}