html, body {
  margin: 0;
  padding: 0;
}

#app-container {
  position: fixed;
  inset: 0;
  background: #2c2c2c;
  
  > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #808080;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: -99999;
  }
}