@use '../../assets/style/variables.scss' as var;


.about-me {
  background-color: var.$gb-bg-dark;
  color: var.$gb-text-light;
  box-sizing: border-box;
  padding-bottom: var.$space-medium;
  height: 100%;
    
  .about-me-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var.$space-medium;
    padding: var.$space-medium;
    margin: 0 var.$space-large 0 var.$space-large;

    &-profile {
      width: 120px;
      height: 120px;
      border-radius: var.$border-radius-circle;
      object-fit: cover;
      border: 3px solid var.$gb-accent-orange;
    }

    &-container {
      flex: 1;
    }

    &-name {
      margin: 0 0 var.$space-small 0;
      font-size: 2rem;
      color: var.$gb-accent-orange;
    }

    &-title {
      margin: 0 0 var.$space-small 0;
      font-size: 1.2rem;
      color: var.$gb-accent-blue;
      font-weight: normal;
    }

    &-paragraph {
      margin: 0;
      font-size: 1rem;
      color: var.$gb-text-muted;
      line-height: 1.5;
    }
  }

  .about-me-body {
    background-color: var.$gb-bg-light;
    height: fit-content;
    padding: var.$space-medium;
    margin: 0 var.$space-large 0 var.$space-large;
    border-radius: var.$border-radius-medium;
  }
}