.about-me {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid #3c3c3c;
    filter: blur(3px);
    opacity: 0.4;
  }
  
  .content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    color: #ffffff;
    
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #569cd6;
    }
    
    p {
      line-height: 1.6;
      font-size: 1rem;
    }
  }
}
